# Object and executable files
*.exe
*.obj
*.o

# Assembly files
*.asm

# Test files
test*
*.txt
*.csv
*.in
*.out

# Directories
.vscode
build
.vs
Debug
Release

# Editor config files
*.aps

# Experimental files
winmain.cpp
